# IDE 
.vs
Session.vim

# Node.js runtime environment
node_modules/
package-lock.json

# Graphics
*.aseprite
*.pur

# Testing
coverage/

# Private
config.json
.env

# Irrelevant
*.log
log.*
*.log.*
src/timers/**
media/composed/**
