# IDE 
.vs
Session.vim

# Node.js runtime environment
node_modules/
package-lock.json

# Typescript
dist/

# Graphics
*.aseprite
*.pur
src/timers/**
media/composed/**

# Testing
coverage/

# Private
config.json
.env

# Logging
*.log
log.*
*.log.*

